@import url(themes.css);

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* top bar */
header {
  padding: 5px 5px 10px;
  color: #fff;
  background: var(--header-bg);
  text-shadow: 3px 3px #0000003f;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  line-height: 40px;
  transition: 0.5s;
  cursor: pointer;
  user-select: none;
}
header:hover {
  background: var(--header-bg-hover);
}

#theme-toggle {
  position: absolute;
  top: 11px;
  left: 32px;
  width: 32px;
  height: 32px;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  user-select: none;
}
#theme-toggle:hover {
  transform: scale(1.1);
  background-color: #ffffff11;
}

#login-menu {
  position: absolute;
  top: 11px;
  right: 32px;
  width: 32px;
  height: 32px;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  user-select: none;
}
#login-menu:hover {
  transform: scale(1.1);
  background-color: #ffffff11;
}

/* game 2 */
canvas {
  margin: auto;
  padding: 0;
  display: block;
}
