#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 5px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: 1px solid #ccc;
    cursor: pointer;
}