.menu-bar {
  display: flex;
}

.menu-bar button {
  padding: 10px;
  color: #fff;
  background-color: var(--menubar-bg);
  border: 1px solid var(--header-bg);
  width: 100%;
}
.menu-bar button:hover {
  background-color: var(--menubar-bg-hover);
}

section {
  margin: 20px;
}
